<ion-view title="Chats" ng-controller="chatController" class="padding">
  <ion-content>
      <!-- <div style="height: 300px"> -->
    <div class="messageDiv">
      <div ng-cloak ng-repeat="message in messages">
        <div>
          {{ message.from }} : {{ message.content }}
        </div>
         
        <div>
            {{ message.from }} : {{ message.content }}
          </div>
          <div>
            {{ message.from }} : {{ message.content }}
          </div>
          <div>
            {{ message.from }} : {{ message.content }}
          </div>
          <div>
            {{ message.from }} : {{ message.content }}
          </div>
          <div>
            {{ message.from }} : {{ message.content }}
          </div>
          <div>
            {{ message.from }} : {{ message.content }}
          </div>
          <div>
            {{ message.from }} : {{ message.content }}
          </div>
          <div>
            {{ message.from }} : {{ message.content }}
          </div>
          <div>
            {{ message.from }} : {{ message.content }}
          </div>
          <div>
            {{ message.from }} : {{ message.content }}
          </div>
          <div>
            {{ message.from }} : {{ message.content }}
          </div>
          <div>
            {{ message.from }} : {{ message.content }}
          </div>
          <div>
            {{ message.from }} : {{ message.content }}
          </div>
          <div>
            {{ message.from }} : {{ message.content }}
          </div>
          <div>
            {{ message.from }} : {{ message.content }}
          </div>
          <div>
            {{ message.from }} : {{ message.content }}
          </div>
          <div>
            {{ message.from }} : {{ message.content }}
          </div>
          <div>
            {{ message.from }} : {{ message.content }}
          </div>
          <div>
            {{ message.from }} : {{ message.content }}
          </div>
          <div>
            {{ message.from }} : {{ message.content }}
          </div>    
        </div>
        <!-- </div> -->
      </div>
    <form>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Message to {{ selected.name }}</span>
        <input type="text" placeholder="write message" ng-model="comment.content">
      </label>
      <button class="button button-block button-stable" type="submit" ng-click="sendComment()">
        send message
      </button>
    </form>
  </ion-content>
</ion-view>
