<ion-view title="Make Connection" ng-controller="connectionController" class="padding">
  <ion-content>
    <form>
      <button class="button button-block button-stable" type="submit" ui-sref="tabs.chat">
        send message
      </button>
    </form>
    <p>{{ selected.name }}s location:</p>
    <!-- <img src="img/disneymap.png" alt="map load error" class="image"> -->
    <!-- Disneyland map -->
    <!-- <iframe width='100%' height='500px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/jamesjsdev.io6330mc/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1IjoiamFtZXNqc2RldiIsImEiOiJyWnJ1aG5rIn0.ez7xPEHt9vgNn2h86IIvsA'></iframe> -->
    <!-- Demo map -->
    <!-- <iframe width='100%' height='500px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/jamesjsdev.io6o2ok3/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1IjoiamFtZXNqc2RldiIsImEiOiJyWnJ1aG5rIn0.ez7xPEHt9vgNn2h86IIvsA'></iframe> -->
   <!--  <div>
      
      <style>
      .leaflet-control-locate {
        border:1px solid rgba(0,0,0,0.4);
        }
      .leaflet-control-locate a {
        background-color:#fff;
        background-position:-3px, -2px;
        }
      .leaflet-control-locate.active a {
        background-position:-33px -2px;
        }
      </style>

      <div id='map'></div>
      <script>
          var map = L.mapbox.map('map', 'jamesjsdev.io6o2ok3');
          L.control.locate().addTo(map);
      </script>
    </div> -->
  </ion-content>
</ion-view>
