<ion-view title="Dashboard" ng-controller="dashboardController" class="padding">
  <ion-content style="overflow:scroll">
  <div class="list" style="text-align:center">
    <div class="item item-divider" style="background-color:#FFD700; text-align:center">
      <p class="headerFont">Your Conversations</p>
      <p class="headerFont">(Select a conversation to chat)</p>
    </div>
    <div class="bodyFont" ng-cloak ng-repeat="chatPartner in chatPartnerArray | orderByPriority"> <!--track by $index-->
        <a class="item" ng-click="chatRetriever('{{ chatPartner.uid }}')"
        ui-sref="tabs.chat">{{ chatPartner.name }}</a>
    </div>
  </div>
  <div class="list">
    <div class="item item-divider" style="background-color:#FFD700; text-align:center">
      <p class="headerFont">Your Offers</p>
      <p class="headerFont">(Select an offer to remove it from available offers others will see)</p>
    </div>
    <div class="bodyFont" ng-cloak ng-repeat="offer in offers | orderByPriority" style="text-align:center"> 
        <div class="offer" ng-if="offer.available" ng-click="deleteOffer(offer)">
          <p> Ride: {{ offer.ride }}<br>
            {{ offer.number_give }}<br>
            Free or trade: {{ offer.comment }}<br>
            {{ offer.location }}</p><br>
        </div>
    </div>
  </div>
  </ion-content>
</ion-view>
