<ion-view title="Details" ng-controller="listController" class="padding" left-buttons="leftButtons">
  <ion-content>

    <div class="list card">

      <div class="item">
        <h2>{{ selected.displayName }}</h2>
        <p>{{ selected.createdAt | ago }}</p>
      </div>

      <div class="item item-body">
        <p>
          <i class="icon ion-android-locate"></i> {{ selected.location }}
        </p>
        <p>
          <i class="icon ion-calendar"></i> Starts {{ selected.time | ago }}
        </p>
        <p>
          <i class="icon ion-loop"></i> {{ selected.comment }}
        </p>
        <p>
          <i class="ion-ios7-barcode"></i><span class="subdued"> {{ selected.number_give }} for {{ selected.ride }}</span>
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
     
        <a class="connection-link tab-item" ui-sref="app.chat">
          <i class="icon ion-ios7-chatboxes-outline"></i>
          Make connection
        </a>
      </div>

    </div>

  </ion-content>
</ion-view>
