<ion-view title="Sign In" ng-controller="loginController" hide-back-button="true">
  <ion-content padding="true">
    <div class="card">
      <div class="item item-text-wrap">
        <h2>Welcome to Fastass Exchange!</h2>
        <p>
          You must be in the park and allow FastPass Exchange to use your current location.
        </p>
      </div>
    </div>
    <img src="img/castle.png">
  </ion-content>
  <ion-footer-bar class="signin">
    <div class="row">
      <div class="col">
        <button class="button button-outline button-block button-positive icon-left ion-social-facebook" ng-click="validateUser('facebook')">Facebook</button>
      </div>
      <div class="col">
        <button class="button button-outline button-block button-assertive icon-left ion-social-google" ng-click="validateUser('google')">Google</button>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>
