<ion-view title="Sign In" ng-controller="loginController">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content padding="true">
<!--
    <button class="button button-block button-assertive" ng-click="validateUser('facebook')">Facebook</button>
    <button class="button button-block button-assertive" ng-click="validateUser('google')">Google</button>
    <h1 class="bodyFont" style='text-align:center; font-size:18px'>You must be in the park and allow Fastpass Exchange to use your current location.</h1>
     -->

  </ion-content>
  <ion-footer-bar class="signin">
    <div class="row">
      <div class="col">
        <button class="button button-outline button-block button-positive icon-left ion-social-facebook" ng-click="validateUser('facebook')">Facebook</button>
      </div>
      <div class="col">
        <button class="button button-outline button-block button-assertive icon-left ion-social-google" ng-click="validateUser('google')">Google</button>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>
