<ion-view title="My Conversations" ng-controller="myConvosController" class="padding" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item ng-cloak ng-repeat="chatPartner in filteredConvos = (chatPartnerArray | orderByPriority)" ng-click="chatRetriever('{{ chatPartner.uid }}')" ui-sref="app.chat">{{ chatPartner.name }}</ion-item>
    </ion-list>
    <br>
    <div class="card" ng-hide="filteredConvos.length">
      <div class='defaultMsg item item-text-wrap' >
        {{ defaultMsg }}
      </div>
    </div>
  </ion-content>
</ion-view>
