<ion-view title="My Conversations" ng-controller="myConvosController" class="padding" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <!-- <div class="item item-divider">
        <p>Your Conversations</p>
        <p>(Select a conversation to chat)</p>
      </div> -->
      <ion-item ng-cloak ng-repeat="chatPartner in chatPartnerArray | orderByPriority" ng-click="chatRetriever('{{ chatPartner.uid }}')" ui-sref="app.chat">{{ chatPartner.name }}</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
