<ion-view title="My Offers" ng-controller="myOffersController" class="padding">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content style="overflow:scroll" class="has-header">
  <div class="button-bar">
    <button class="button button-positive" style="background-color:grey" ui-sref="app.myConvos">Conversations</button>
    <button class="button button-positive" style="background-color:grey" ui-sref="app.myOffers">Offers</button>
  </div>
  <div class="offerList">
    <div class="item item-divider" style="background-color:#FFFFF; text-align:center; font-weight:bold; color:black">
      <p class="headerFont">Your Offers</p>
      <p class="headerFont">(Select an offer to delete it)</p>
    </div>
    </p>
    <div class="bodyFont" ng-cloak ng-repeat="offer in offers | orderByPriority" style="text-align:center"> 
      <p>
        <div class="button button-clear" ng-if="offer.available" ng-click="deleteOffer(offer)">
          <p> {{ offer.number_give }} for {{ offer.ride }} </p>
        </div>
      </p>
    </div>
    </p>
  </div>
  </ion-content>
</ion-view>
