<ion-view title="Give Fastpass" ng-controller="offerController" class="padding">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>
    
    <div class="list">
    <form name="offerList" ng-submit="addOffer()" style="margin-left:auto; margin-right:auto">
      <label class="item item-input item-select">
        <span class="input-label">Ride:</span>
        <select ng-model="offer.ride" ng-options="ride.value as ride.name for ride in rides"></select>
      </label>
      <label class="item item-input">
        <span class="input-label">Return time:</span>
        <input class="givepass-time-input" ng-model="returnTime" type="time">
      </label>
      <label class="item item-input item-select">
        <span class="input-label">Your location:</span>
        <select ng-model="offer.location" ng-options="location.value as location.name for location in locations"></select>
      </label>
      <label class="item item-input item-select">
        <span class="input-label">Number of passes:</span>
        <select ng-model="offer.number_give" ng-options="number_give.value as number_give.name for number_give in numbers_give"></select>
      </label>
      <label class="item item-input item-select">
        <span class="input-label">Free or trade:</span>
        <select ng-model="offer.comment" ng-options="comment.value as comment.name for comment in comments"></select>
      </label>
      <br>
      <button class="button button-full button-dark">
        submit
      </button>
      <div class="errorMsg">{{ errorMsg }}</div>

      <!-- <div class="statusMsg">{{ statusMsg }}</div> -->
    </form>
    </div>
   </ion-content>
</ion-view>
