<ion-view title="Get Fastpass" ng-controller="listController" class="padding">
  <ion-content>
   <!-- three way data binding -->
   <!-- <input type="text" ng-model="text"/>
    <h1>{{text.offers}}</h1> -->
    <!-- displays in order on firebase -->
    <div class="list">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Search" ng-model="search">
        </label>
      </div>
    </div>

    <div ng-cloak ng-repeat="offer in text.offers | orderByPriority | filter:search" class="list card" ng-if="offer.available  && isNotYourOffer(offer.offererId)">

      <div class="item item-avatar">
        <img ng-src="{{offer.offererId | profilePicture}}">
        <h2><a ng-href="{{offer.offererId | profile}}">{{offer.displayName}}</a></h2>
        <p>
          {{offer.createdAt | date}}
        </p>
      </div>

      <div class="item item-body">
        <small>{{offer.location}}</small><br>
        <!-- {{offer}} -->
        <a ng-if="offer.available && isNotYourOffer(offer.offererId)" ng-click="setMaster(offer)" ui-sref="tabs.chat"><strong>{{ offer.number_give }} for {{ offer.ride }}</strong></a>
      </div>

      <!-- <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click="setMaster(offer)" ui-sref="tabs.getDetails">
          <i class="icon ion-ios7-cart"></i>
          Get it!
        </a>
      </div> -->
    </div>
    <div class="statusMsg" ng-if="console.log('stop');">There are no offers available.</div>
  </ion-content>
</ion-view>
