<ion-view title="Get Fastpass" ng-controller="listController" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">
   <!-- three way data binding -->
   <!-- <input type="text" ng-model="text"/>
    <h1>{{text.offers}}</h1> -->
    <!-- displays in order on firebase -->
    <div class="list">
      <div class="item item-input-inset">
        <label class="item-input-wrapper" for="search-input">
          <input type="text" placeholder="Search" ng-model="search.$" name="search-input" for="search-input">
        </label>
      </div>

      <label class="item item-input item-select">
        <div class="input-label">
          Select Ride:
        </div>
        <select ng-cloak ng-model="selectedRide" ng-options="offer for offer in text | orderByPriority | available | excludeMyOffers | uniqueRides">
          <option value="">All rides</option>
        </select>
      </label>

      <a class="item" ng-cloak ng-repeat="offer in text | orderByPriority | filter:selectedRide | available | excludeMyOffers | filter:search" ng-click="setMaster(offer)" ui-sref="app.getDetails">
        <h2>{{offer.number_give}} for {{offer.ride}}</h2>
        <p><i class="ion-android-locate"></i> {{offer.location}}</p>
      </a>
    </div>

    <!-- <div ng-cloak ng-repeat="offer in text.offers | orderByPriority | filter:search | available | excludeMyOffers" class="list card">

      <div class="item item-avatar">
        <h2><a ng-href="{{offer.offererId | profile}}">{{offer.displayName}}</a></h2>
        <p>
          {{offer.createdAt | date}}
        </p>
      </div>

      <div class="item item-body">
        <small>{{offer.location}}</small><br>
        <!-- {{offer}}
        <a ng-if="isNotYourOffer(offer.offererId)" ng-click="setMaster(offer)" ui-sref="tabs.chat"><strong></strong></a>
      </div>

      <!-- <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click="setMaster(offer)" ui-sref="tabs.getDetails">
          <i class="icon ion-ios7-cart"></i>
          Get it!
        </a>
      </div>
    </div> -->

    <div class="statusMsg" ng-if="console.log('stop');">There are no offers available.</div>
  </ion-content>

</ion-view>
