<ion-view title="Sign In" ng-controller="loginController">
<ion-header-bar class="bar-calm">
  <h1 class="title">Sign In</h1>
</ion-header-bar>
<ion-content class="has-header padding">
  <form class="list">
    <label class="item item-input">
      <button class="button button-block button-stable" type= "submit" ng-click="validateUser('facebook')">Facebook</button>
    </label>
  <!--   <label class="item item-input">
      <button class="button button-block button-stable" type= "submit" ng-click="validateUser('twitter')">Twitter</button>
    </label> -->
    <label class="item item-input">
      <button class="button button-block button-stable" type= "submit" ng-click="validateUser('google')">Google</button>
    </label>
  </form>
  <h1 style='text-align:center'>Geolocation must be enabled.</h1>
</ion-content>
</ion-view>
