<ion-view title="Sign In" ng-controller="loginController">
<ion-header-bar class="bar-calm">
  <h1 class="headerFont">Sign In</h1>
</ion-header-bar>
<ion-content class="has-header padding">
<!--   <form class="list">
    <label class="item item-input"> -->

    <p>
      <button class="button button-block button-assertive" type= "submit" ng-click="validateUser('facebook')">Facebook</button>
    </p>
    <p>
      <button class="button button-block button-assertive" type= "submit" ng-click="validateUser('google')">Google</button>
    </p>
  <!--   <label class="item item-input">
      <button class="button button-block button-stable" type= "submit" ng-click="validateUser('twitter')">Twitter</button>
    </label> -->
<!--     <label class="item item-input"> -->
<!--     </label>
  </form> -->
  <h1 class="bodyFont" style='text-align:center; font-size:18px'>You must allow Fastpass Exchange to use your current location.</h1>

</ion-content>
</ion-view>
