<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Left</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close>
          Login
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/search">
          Search
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/browse">
          Browse
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/playlists">
          Playlists
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>





























<!-- this is the base state that will show on every page of the app -->
<ion-tabs class="tabs-icon-top tabs-calm headerFont">
  <!-- use ui-sref with ui-router instead of href -->
  <!-- bug in home button when go to make connection
  click about, then home will go back to make connection -->
  <ion-tab title="Home" icon="ion-home" ui-sref='tabs.home'>
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Dashboard" icon="ion-ios7-information" ui-sref='tabs.myConvos'>
    <ion-nav-view name="dashboard-tab"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="sign in" icon="ion-log-in" ui-sref='tabs.signin'>
    <ion-nav-view name="signin-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="sign out" icon="ion-log-out" ui-sref='tabs.signout'>
    <ion-nav-view name="signout-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>

