<!-- this is the base state that will show on every page of the app -->
<ion-tabs class="tabs-icon-top tabs-calm headerFont">
  <!-- use ui-sref with ui-router instead of href -->
  <!-- bug in home button when go to make connection
  click about, then home will go back to make connection -->
  <ion-tab title="Home" icon="ion-home" ui-sref='tabs.home'>
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Dashboard" icon="ion-ios7-information" ui-sref='tabs.myConvos'>
    <ion-nav-view name="dashboard-tab"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="sign in" icon="ion-log-in" ui-sref='tabs.signin'>
    <ion-nav-view name="signin-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="sign out" icon="ion-log-out" ui-sref='tabs.signout'>
    <ion-nav-view name="signout-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>

