/**
 * home.html
 * Style signin.
 */

.signin {
  height: 54px;
}

.signin .row {
  padding: 0;
}

.signin .col {
  padding: 0 auto;
}

.signin button {
  margin: 0 !important;
}

/**
 * chat.html
 * Style chat
 */

img {
height: 300px;
display: block;
margin-left: auto;
margin-right: auto;
}

.chat {
  height: 70px;
}

.chat .list {
  margin: 10px;
}

/**
 * offerInput.html
 * Style input form for new user offer.
 */

.givepass-time-fields {
  margin-right:4em;
}

.givepass-time-input {
  float:right;
  text-align:right;
  padding:0;
}

.errorMsg {
  color: red;
}

/*.bar {
  color: rgb(235,95,81);
}*/