/* Empty. Add your own CSS if you like */
.image {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.imagelogo {
  margin-top: 30dppx;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 75%;
}

.headerFont {
  font-family: helvetica;
}

.bodyFont {
  font-family: georgia;
}

.offerList {
  word-wrap:break-word;
}

<<<<<<< HEAD
.chatMessages {
  -webkit-overflow-scrolling: touch;
  height: 50%;
}

.chatInput {
  height: 20%;
  postion:absolute;
  top:57%;
}

.chatDetails {
  height: 20%;
  font-size:12px;
  border-style:solid;
  border-width:1px;
=======
.messageDiv {
   -webkit-overflow-scrolling: touch;
  /*overflow: scroll;
  height: 500dppx;*/
>>>>>>> Transplant all but js and template folders
}

/*.angular-leaflet-map {
    width: 640px;
    height: 480px;
}*/

.statusMsg {
  text-align: center;
  font-weight: bold;
}

.errorMsg {
  color: red;
  text-align: center;
  font-weight: bold;
}

#map {
   position:absolute;
   /*top:0;*/
<<<<<<< HEAD
   bottom:0;
   width:100%;
=======
   bottom:0; 
   width:100%; 
>>>>>>> Transplant all but js and template folders
   height: 75%;
   margin-top: 25dppx;
   margin-bottom: 50dppx;
}

.chatView {
  padding: 0;
  margin: 0;
}

.bar.bar-calm {
  background-color: #333;
  border-color: #333;
  color: #F8F8F8;
  font-size: 18px;
  background-image: linear-gradient(0deg, #333, #333 50%, transparent 50%);
}

<<<<<<< HEAD
.tabs-calm > .tabs,
=======
.tabs-calm > .tabs, 
>>>>>>> Transplant all but js and template folders
.tabs.tabs-calm {
  background-color: #333;
  border-color: #333;
  color: #F8F8F8;
  background-image: linear-gradient(0deg, #333, #333 50%, transparent 50%);
}

<<<<<<< HEAD
.button-assertive > .button,
=======
.button-assertive > .button, 
>>>>>>> Transplant all but js and template folders
.button.button-assertive {
  background-color: #E00000 ;
  border-color: #E00000 ;
  color: #F8F8F8;
  font-size: 24px;
  text-align: center;
}

<<<<<<< HEAD
.button-clear > .button,
=======
.button-clear > .button, 
>>>>>>> Transplant all but js and template folders
.button.button-clear {
  overflow: hidden;
  width: 93%;
  background-color: #E00000 ;
  border-color: #E00000 ;
  color: #F8F8F8;
  font-size: 14px;
  text-align: center;
}

.button {
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-align: center;
  color: #F8F8F8;
}

.offer {
<<<<<<< HEAD
  text-align:center;
=======
  text-align:center; 
>>>>>>> Transplant all but js and template folders
  -moz-border-radius: 15px;
  border-radius: 15px;
  font-color: #333;
}

.image {
<<<<<<< HEAD
  background:  no-repeat center center fixed;
=======
  background:  no-repeat center center fixed; 
>>>>>>> Transplant all but js and template folders
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/*
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
<<<<<<< HEAD
    </style>*/
=======
    </style>*/
>>>>>>> Transplant all but js and template folders
