<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ionicframework.fastpass-connection" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Fastpass Connection</name>
    <description>
        a social app using fastpasses
    </description>
    <author email="jamesjsdev@gmail.com" href="http://jamesyothers.io/">
      James Yothers
    </author>
    <content src="index.html" />
    <!-- <access origin="*" /> -->
    <access origin="*.firebaseio.*" />
    <access origin="https://auth.firebase.com" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />

    <!-- Don't store local date in an iCloud backup. Turn this to "cloud" to enable storage 
         to be sent to iCloud. Note: enabling this could result in Apple rejecting your app.
    -->
    <preference name="BackupWebStorage" value="none" />

    <feature name="StatusBar">
      <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
</widget>
